In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd, datetime
import numpy as np
import requests
import time
from scipy.stats import linregress
from ydata_profiling import ProfileReport
from pathlib import Path


# Import the OpenWeatherMap API key
from api_keys import airpollution_api_key 


# Import citipy to determine the cities based on latitude and longitude
from citipy import citipy

airpollution_api_key = airpollution_api_key or "YOUR_API_KEY"
print(airpollution_api_key)

cffa2b2ac0605c550af5b2dd12540b15

In [13]:
# Load the CSV file into a Pandas DataFrame
ntn_metadata = pd.read_csv("../Resources/cleaned-ntn-metadata.csv")
ntn_all = pd.read_csv("../Resources/cleaned-NTN-ALL-a-s-ueq.csv")

# Combine the data into a single dataset on the 'siteID' column
ntn_data = pd.merge(ntn_metadata, ntn_all, how="left", on="siteID")
ntn_data.head()

,network,siteID,siteName,status,startDate_x,stopDate,county,state,latitude,longitude,...,Cl,SO4,H,Conduc,svol,ppt,fullChemLab,daysSample,startDate_y,lastDate
0,NTN,AK01,Poker Creek,A,12/29/92,NaN,Fairbanks North Star,AK,65.1550,-147.4910,...,1.15661,2.60375,5.984,3.488,17184.50,32.619,29.0,371.0,Dec 28 2021 10:50PM,Jan 3 2023 11:00PM
1,NTN,AK02,Juneau,A,6/22/04,NaN,Juneau,AK,58.5139,-134.7843,...,5.67021,2.22881,4.656,3.124,140951.00,246.034,46.0,371.0,Dec 28 2021 11:19PM,Jan 3 2023 8:42PM
2,NTN,AK96,Toolik Field Station,A,10/12/17,NaN,North Slope Borough,AK,68.6257,-149.6069,...,1.72081,2.87454,5.689,3.668,13546.80,31.318,35.0,371.0,Dec 28 2021 8:45PM,Jan 3 2023 6:40PM
3,NTN,AK97,Katmai National Park - King Salmon,A,11/2/09,NaN,Bristol Bay,AK,58.6794,-156.6664,...,13.23049,5.43663,7.211,5.246,47153.99,87.417,42.0,372.0,Dec 28 2021 7:30PM,Jan 4 2023 7:54PM
4,NTN,AL10,Black Belt Research & Extension Center,A,8/31/83,NaN,Dallas,AL,32.4583,-87.2422,...,9.59140,8.62362,5.495,5.877,92996.80,153.010,37.0,371.0,Dec 28 2021 3:00PM,Jan 3 2023 3:45PM

In [15]:
# review data types
ntn_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162 entries, 0 to 161
Data columns (total 34 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   network      162 non-null    object
 1   siteID       162 non-null    object
 2   siteName     162 non-null    object
 3   status       162 non-null    object
 4   startDate_x  162 non-null    object
 5   stopDate     2 non-null      object
 6   county       162 non-null    object
 7   state        162 non-null    object
 8   latitude     162 non-null    float64
 9   longitude    162 non-null    float64
 10  elevation    161 non-null    float64
 11  stateName    162 non-null    object
 12  siteClass    162 non-null    object
 13  seas         160 non-null    object
 14  yr           160 non-null    float64
 15  Criteria1    160 non-null    float64
 16  Criteria2    160 non-null    float64
 17  Criteria3    160 non-null    float64
 18  Ca           160 non-null    float64
 19  Mg           160 non-null    float64
 20  K            160 non-null    float64
 21  Na           160 non-null    float64
 22  NH4          160 non-null    float64
 23  NO3          160 non-null    float64
 24  Cl           160 non-null    float64
 25  SO4          160 non-null    float64
 26  H            160 non-null    float64
 27  Conduc       160 non-null    float64
 28  svol         160 non-null    float64
 29  ppt          160 non-null    float64
 30  fullChemLab  160 non-null    float64
 31  daysSample   160 non-null    float64
 32  startDate_y  160 non-null    object
 33  lastDate     160 non-null    object
dtypes: float64(21), object(13)
memory usage: 43.2+ KB

In [16]:
# describe the data
ntn_data.describe()

,latitude,longitude,elevation,yr,Criteria1,Criteria2,Criteria3,Ca,Mg,K,...,NH4,NO3,Cl,SO4,H,Conduc,svol,ppt,fullChemLab,daysSample
count,162.000000,162.000000,161.000000,160.0,160.000000,160.00000,160.000000,160.000000,160.000000,160.000000,...,160.000000,160.000000,160.000000,160.000000,160.000000,160.000000,160.000000,160.000000,160.000000,160.000000
mean,40.144677,-91.536893,681.931677,2022.0,85.362500,98.84375,90.881250,10.373426,2.949839,0.724913,...,15.568128,9.067584,8.375543,7.092085,3.411206,6.144450,56569.451187,98.915944,36.675000,370.012500
std,5.983882,17.318329,842.588401,0.0,5.780565,1.48598,6.118712,11.540159,3.932386,0.913519,...,10.478205,3.832860,16.137740,3.330336,2.165165,2.940796,26747.386863,40.547575,8.641388,2.550096
min,25.390000,-156.666400,1.000000,2022.0,59.000000,90.00000,62.000000,-9.000000,-9.000000,-9.000000,...,-9.000000,-9.000000,-9.000000,-9.000000,-9.000000,-9.000000,6493.100000,13.513000,11.000000,357.000000
25%,36.193275,-105.587075,174.000000,2022.0,82.000000,99.00000,87.000000,3.871950,1.295595,0.485830,...,8.371440,6.718145,1.805440,5.020030,1.949500,4.531000,36510.575000,75.046250,32.750000,371.000000
50%,40.335450,-87.040250,307.000000,2022.0,85.000000,99.00000,92.000000,6.996900,1.974240,0.652035,...,12.390840,8.936020,2.933840,6.623940,3.277000,5.563500,58917.700000,103.701000,38.500000,371.000000
75%,43.434800,-78.547025,753.000000,2022.0,89.250000,100.00000,95.250000,12.250800,3.310965,0.894950,...,20.526660,11.617632,7.348705,9.050635,4.791500,6.858500,75072.975000,125.964750,43.000000,371.000000
max,68.625700,-67.630800,3520.000000,2022.0,100.000000,100.00000,100.000000,90.038400,32.328180,2.659280,...,66.029040,21.098040,115.773840,16.455700,9.036000,19.667000,140951.000000,246.034000,51.000000,372.000000

In [19]:
# check for missing values
ntn_data.isnull().sum()

network          0
siteID           0
siteName         0
status           0
startDate_x      0
stopDate       160
county           0
state            0
latitude         0
longitude        0
elevation        1
stateName        0
siteClass        0
seas             2
yr               2
Criteria1        2
Criteria2        2
Criteria3        2
Ca               2
Mg               2
K                2
Na               2
NH4              2
NO3              2
Cl               2
SO4              2
H                2
Conduc           2
svol             2
ppt              2
fullChemLab      2
daysSample       2
startDate_y      2
lastDate         2
dtype: int64

In [20]:
# rename columns latitude and longitude to capitalize the first letter
ntn_data.rename(columns={"latitude": "Latitude", "longitude": "Longitude"}, inplace=True)
ntn_data.head()

,network,siteID,siteName,status,startDate_x,stopDate,county,state,Latitude,Longitude,...,Cl,SO4,H,Conduc,svol,ppt,fullChemLab,daysSample,startDate_y,lastDate
0,NTN,AK01,Poker Creek,A,12/29/92,NaN,Fairbanks North Star,AK,65.1550,-147.4910,...,1.15661,2.60375,5.984,3.488,17184.50,32.619,29.0,371.0,Dec 28 2021 10:50PM,Jan 3 2023 11:00PM
1,NTN,AK02,Juneau,A,6/22/04,NaN,Juneau,AK,58.5139,-134.7843,...,5.67021,2.22881,4.656,3.124,140951.00,246.034,46.0,371.0,Dec 28 2021 11:19PM,Jan 3 2023 8:42PM
2,NTN,AK96,Toolik Field Station,A,10/12/17,NaN,North Slope Borough,AK,68.6257,-149.6069,...,1.72081,2.87454,5.689,3.668,13546.80,31.318,35.0,371.0,Dec 28 2021 8:45PM,Jan 3 2023 6:40PM
3,NTN,AK97,Katmai National Park - King Salmon,A,11/2/09,NaN,Bristol Bay,AK,58.6794,-156.6664,...,13.23049,5.43663,7.211,5.246,47153.99,87.417,42.0,372.0,Dec 28 2021 7:30PM,Jan 4 2023 7:54PM
4,NTN,AL10,Black Belt Research & Extension Center,A,8/31/83,NaN,Dallas,AL,32.4583,-87.2422,...,9.59140,8.62362,5.495,5.877,92996.80,153.010,37.0,371.0,Dec 28 2021 3:00PM,Jan 3 2023 3:45PM

In [22]:
# check for duplicates in the data
duplicates = ntn_data.duplicated(subset=["Latitude", "Longitude"])
duplicates.sum()

0

In [ ]:
# Run the Profiling Report using ydata_profiling
profile = ProfileReport(ntn_data,title = "Acid Rain Profile Report")
profile.to_notebook_iframe()

In [24]:
# view the latitude and longitude datatypes to ensure they are numeric
ntn_data[["Latitude", "Longitude"]].dtypes

Latitude     float64
Longitude    float64
dtype: object

In [28]:
# pull in data from the OpenWeatherMap API
# Create an empty list to store the weather data
acid_rain_air_pollution = []
for i in ntn_data.index:
    # Get the latitude and longitude
    lat = ntn_data.loc[i, "Latitude"]
    lon = ntn_data.loc[i, "Longitude"]
    
    # Use the OpenWeatherMap API to get the weather data
    url = f"http://api.openweathermap.org/data/2.5/air_pollution?lat={lat}&lon={lon}&appid={airpollution_api_key}"
    acid_rain_ap = requests.get(url).json()
    
    
    # Append the weather data to the list
    coordinates = acid_rain_ap["coord"]
    components = acid_rain_ap['list'][0]["components"]
    acid_rain_air_pollution.append([coordinates['lat'], coordinates['lon'], components['co'], components['no'], components['no2'], components['o3'], components['so2'], components['pm2_5'], components['pm10'], components['nh3']])
    # # Print the city name and the index
    # print(f"Processing Record {i} | {ntn_data.loc[i, 'siteID']}")
    
    acid_rain_air_pollution

In [30]:


# Create an empty list to store the weather data
acid_rain_air_pollution = []

for i in ntn_data.index:
    # Get the latitude and longitude
    lat = ntn_data.loc[i, "Latitude"]
    lon = ntn_data.loc[i, "Longitude"]
    
    # Use the OpenWeatherMap API to get the weather data
    url = f"http://api.openweathermap.org/data/2.5/air_pollution?lat={lat}&lon={lon}&appid={airpollution_api_key}"
    try:
        acid_rain_ap = requests.get(url).json()
        
        # Check if response contains expected fields
        if "coord" in acid_rain_ap and "list" in acid_rain_ap:
            coordinates = acid_rain_ap["coord"]
            components = acid_rain_ap['list'][0]["components"]
            acid_rain_air_pollution.append([
                coordinates['lat'], coordinates['lon'],
                components['co'], components['no'],
                components['no2'], components['o3'],
                components['so2'], components['pm2_5'],
                components['pm10'], components['nh3']
            ])
        else:
            print(f"No data for index {i}")
    except Exception as e:
        print(f"Error fetching data for index {i}: {e}")

acid_rain_air_pollution

[[65.155, -147.491, 243.66, 0.39, 2.53, 68.67, 0.92, 0.5, 0.52, 0.09],
 [58.5139, -134.7843, 247, 0.29, 1.02, 67.95, 0.25, 0.5, 0.52, 1.43],
 [68.6257, -149.6069, 233.65, 0.01, 0.08, 87.26, 0.01, 0.5, 0.5, 0.01],
 [58.6794, -156.6664, 243.66, 0.02, 0.47, 65.09, 0.16, 0.5, 0.61, 0.14],
 [32.4583, -87.2422, 210.29, 0.07, 0.4, 87.98, 1.01, 5.24, 10.91, 0.47],
 [34.2886, -85.9699, 213.62, 0.12, 0.75, 97.28, 2.41, 6, 11.32, 5.51],
 [33.605, -92.0972, 201.94, 0.12, 2.04, 64.37, 0.54, 5.8, 13.68, 1.03],
 [34.1795, -93.0992, 198.6, 0.07, 1.03, 60.8, 0.51, 5.85, 15.25, 0.55],
 [36.0842, -92.5868, 201.94, 0.07, 0.4, 67.23, 0.44, 6.63, 12.9, 0.59],
 [36.1011, -94.1737, 208.62, 0.12, 1.74, 68.67, 0.72, 8.13, 17.62, 3.77],
 [36.0586, -112.184, 195.27, 0.04, 0.2, 107.29, 0.11, 1.21, 4.31, 0.5],
 [31.9492, -112.802, 216.96, 0.12, 0.51, 91.55, 0.09, 2.4, 14.99, 0.65],
 [34.8224, -109.8925, 198.6, 0.26, 0.99, 125.89, 2.09, 2.57, 8.96, 0.59],
 [32.0097, -109.3889, 190.26, 0.14, 0.55, 94.41, 1.04, 2.17, 7.6, 1.39],
 [33.0708, -109.866, 200.27, 0.07, 0.35, 121.59, 0.25, 2.5, 9.54, 0.77],
 [34.2071, -117.7618, 213.62, 0.95, 3.04, 92.98, 0.17, 0.7, 5.94, 0.54],
 [39.0045, -123.086, 211.95, 0.59, 2.31, 42.2, 0.05, 1.02, 1.75, 0.51],
 [36.4834, -121.157, 236.99, 0.53, 3.51, 65.09, 0.21, 3.65, 3.91, 0.91],
 [34.0695, -116.3889, 208.62, 0.29, 1.06, 100.14, 0.23, 0.81, 3.73, 0.46],
 [41.7662, -122.4798, 257.02, 3.24, 7.03, 23.6, 0.03, 1.43, 2.65, 1.49],
 [34.1938, -116.9131, 223.64, 2.18, 5.06, 82.97, 0.58, 3.57, 6, 1.06],
 [37.4421, -105.868, 198.6, 1.08, 1.84, 62.94, 0.14, 3.55, 9.08, 2.91],
 [38.1177, -103.316, 210.29, 0.39, 1.24, 90.12, 0.07, 4.1, 13.86, 3.45],
 [40.0547, -105.5891, 183.58, 0.39, 0.96, 91.55, 0.16, 3.19, 5.26, 2.22],
 [39.4025, -107.3454, 183.58, 0.08, 0.25, 100.14, 0.16, 5.16, 23.36, 0.88],
 [40.2603, -105.8292, 198.6, 1.2, 2.04, 72.96, 0.03, 3.11, 4.45, 2.01],
 [38.9561, -106.986, 178.58, 0.16, 0.39, 85.83, 0.36, 3.49, 7.81, 1.76],
 [40.3639, -105.581, 196.93, 1.5, 2.64, 71.53, 0.05, 2.71, 4.77, 0.84],
 [40.4288, -104.8617, 216.96, 1.16, 3.51, 90.84, 5.72, 4.52, 7.73, 5.7],
 [37.4686, -106.787, 165.22, 0.12, 0.28, 84.4, 0.51, 4.06, 15.02, 0.89],
 [39.9939, -105.48, 190.26, 0.73, 1.71, 97.28, 0.25, 3.95, 6.07, 2.38],
 [40.2878, -105.6628, 186.92, 0.91, 1.84, 87.26, 0.12, 3.56, 5.52, 2.72],
 [37.1979, -108.491, 183.58, 0.03, 0.23, 118.73, 0.08, 1.23, 4.91, 0.61],
 [41.84, -72.0101, 250.34, 0.24, 1.35, 108.72, 0.81, 4.11, 4.26, 0.49],
 [29.7603, -82.1989, 220.3, 0.09, 0.64, 127.32, 2.12, 5.28, 7.05, 1.05],
 [28.7486, -82.5551, 223.64, 0.11, 0.8, 134.47, 1.09, 6.03, 10.88, 0.74],
 [25.39, -80.68, 205.28, 0.04, 0.29, 123.02, 0.43, 3.22, 10, 0.28],
 [27.3801, -82.2831, 216.96, 0.1, 0.64, 127.32, 0.73, 4.79, 9.73, 0.74],
 [30.7404, -82.1283, 216.96, 0.03, 0.22, 107.29, 0.26, 4, 5.36, 1.06],
 [33.1805, -84.4103, 206.95, 0.1, 0.54, 98.71, 0.57, 3.15, 5.5, 0.72],
 [31.5217, -83.5482, 223.64, 0.09, 0.56, 111.58, 0.27, 5.78, 7.24, 1.28],
 [42.9097, -91.47, 223.64, 0.28, 1.01, 90.12, 0.86, 1.99, 2.32, 2.76],
 [40.9631, -93.3925, 230.31, 0.31, 1.35, 108.72, 3.73, 4.13, 4.42, 2.82],
 [43.4605, -113.5551, 190.26, 0.24, 0.89, 90.12, 0.02, 1.72, 5.16, 4.12],
 [40.0528, -88.3719, 290.39, 0.92, 4.2, 120.16, 2.21, 13.58, 14.85, 3.07],
 [40.9153, -90.627, 226.97, 0.23, 1.03, 103, 0.4, 2.76, 3.05, 2.57],
 [40.8401, -85.4639, 260.35, 0.75, 2.51, 92.98, 1.49, 8.49, 9.5, 3.07],
 [38.7408, -87.4855, 243.66, 0.27, 1.27, 85.12, 2.06, 11.83, 14.52, 2.09],
 [41.6318, -87.0881, 273.71, 1.82, 4.24, 68.67, 1.58, 8.99, 11.43, 0.28],
 [40.4749, -86.9924, 250.34, 0.64, 2.38, 100.14, 1.18, 8.23, 8.96, 3.29],
 [37.6511, -94.8036, 203.61, 0.04, 1.69, 67.23, 1.13, 6.48, 12.87, 1.31],
 [39.1022, -96.6092, 223.64, 0.21, 1.26, 72.24, 0.34, 9.22, 14.09, 2.06],
 [37.7047, -85.0489, 216.96, 0.12, 0.74, 81.54, 1.36, 6.33, 9.61, 1.22],
 [37.1317, -86.148, 223.64, 0.13, 0.83, 81.54, 1.25, 6.78, 10.54, 1.14],
 [38.2288, -85.6545, 233.65, 0.26, 1.84, 81.54, 3.28, 9.39, 13.45, 1.38],
 [37.0778, -82.9936, 213.62, 0.04, 0.38, 90.84, 0.62, 5.08, 8.51, 0.87],
 [29.931, -91.7165, 208.62, 0.03, 0.44, 103, 0.33, 4.39, 12.11, 0.23],
 [30.7819, -90.2021, 213.62, 0.12, 1.03, 117.3, 1.16, 5.1, 12.29, 0.25],
 [41.9759, -70.0241, 360.49, 1.79, 9.25, 127.32, 2.98, 27.49, 29.58, 0.12],
 [42.3925, -72.3444, 253.68, 0.24, 1.37, 103, 0.44, 3.88, 4.04, 0.38],
 [41.2897, -70.1751, 300.41, 0.45, 2.14, 107.29, 0.81, 16.91, 19.31, 0.11],
 [42.3495, -71.1045, 253.68, 0.38, 2.4, 110.15, 0.56, 2.67, 2.99, 0.48],
 [42.2953, -71.134, 253.68, 0.38, 2.4, 110.15, 0.56, 2.67, 2.99, 0.48],
 [39.7053, -79.0122, 213.62, 0.12, 1.02, 107.29, 2.83, 5.97, 6.76, 1.05],
 [37.9925, -76.0345, 240.33, 0.13, 0.81, 100.14, 1.18, 6.69, 9.24, 0.94],
 [39.028, -76.8171, 236.99, 0.19, 1.3, 115.87, 1.55, 5.47, 6, 1.17],
 [46.8675, -68.0134, 223.64, 0.03, 0.33, 92.98, 0.02, 0.5, 0.53, 0.06],
 [45.0803, -70.2118, 211.95, 0.03, 0.18, 110.15, 0.02, 0.5, 0.51, 0.06],
 [44.4003, -71.0098, 220.3, 0.06, 0.62, 107.29, 0.05, 0.5, 0.52, 0.07],
 [45.4891, -69.6647, 216.96, 0.06, 0.31, 101.57, 0.04, 0.5, 0.51, 0.06],
 [45.2436, -67.6308, 220.3, 0.07, 0.4, 101.57, 0.08, 0.5, 0.52, 0.05],
 [43.8325, -70.0645, 226.97, 0.08, 0.48, 113.01, 0.03, 0.5, 0.54, 0.09],
 [44.3772, -68.2608, 236.99, 0.16, 1, 105.86, 0.44, 1.52, 1.71, 0.13],
 [45.5608, -84.6783, 220.3, 0.19, 0.71, 90.84, 0.54, 1.34, 1.4, 0.23],
 [42.4103, -85.3928, 216.96, 0.12, 0.56, 103, 0.14, 1.13, 1.32, 0.97],
 [46.2889, -85.9504, 223.64, 0.59, 1.74, 83.69, 0.47, 0.84, 0.86, 0.05],
 [43.6135, -83.3599, 226.97, 0.2, 0.85, 103, 1.06, 1.31, 1.49, 0.87],
 [44.2242, -85.8186, 226.97, 0.42, 1.32, 84.4, 0.53, 2.41, 2.54, 0.45],
 [46.464, -84.303, 230.31, 2.65, 7.2, 85.12, 4.71, 2.81, 2.87, 0],
 [47.1046, -88.5516, 226.97, 0.58, 1.63, 74.39, 1.12, 0.71, 0.77, 0.04],
 [45.4017, -93.2031, 223.64, 0.16, 1.19, 82.97, 0.18, 0.5, 0.62, 0.86],
 [47.8471, -89.965, 210.29, 0.02, 0.09, 75.1, 0.04, 0.5, 0.5, 0.03],
 [47.9464, -91.4961, 213.62, 0.03, 0.08, 75.82, 0.04, 0.5, 0.5, 0.03],
 [48.4132, -92.8305, 230.31, 0.34, 0.86, 84.4, 1.34, 0.97, 1.24, 0.31],
 [47.3841, -91.2067, 210.29, 0.06, 0.19, 77.25, 0.03, 0.5, 0.52, 0.04],
 [30.4294, -88.4277, 220.3, 0.05, 0.39, 113.01, 0.55, 5.45, 13.35, 0.32],
 [34.0025, -89.7993, 216.96, 0.13, 1, 82.97, 0.66, 5.74, 11.57, 0.38],
 [48.5102, -113.997, 213.62, 0.43, 1.74, 57.94, 0.36, 2.17, 3, 0.82],
 [35.0605, -83.4305, 196.93, 0.05, 0.25, 73.67, 0.69, 4.87, 8.22, 0.97],
 [35.9709, -79.0933, 220.3, 0.11, 0.73, 114.44, 0.84, 4.45, 7.06, 1.74],
 [35.697, -80.6225, 220.3, 0.15, 0.88, 110.15, 2.06, 4.3, 7.14, 1.6],
 [35.0258, -78.2783, 223.64, 0.11, 0.65, 108.72, 0.88, 4.49, 7.5, 5.38],
 [34.9705, -79.5281, 213.62, 0.06, 0.43, 114.44, 0.86, 3.7, 6.25, 2.98],
 [35.7283, -78.6789, 220.3, 0.18, 1.03, 108.72, 0.97, 4.01, 6.6, 2.15],
 [35.7353, -82.2861, 200.27, 0.06, 0.33, 83.69, 0.3, 4.42, 7.86, 0.86],
 [43.9433, -71.7029, 223.64, 0.09, 0.58, 103, 0.02, 0.57, 0.59, 0.08],
 [39.4728, -74.4369, 250.34, 0.42, 2.79, 133.04, 2.3, 7.25, 7.94, 0.97],
 [39.9894, -74.1344, 243.66, 0.38, 2.44, 124.45, 1.33, 5.4, 6.07, 1],
 [40.3154, -74.8536, 226.97, 0.22, 1.16, 113.01, 1.12, 4.02, 4.51, 0.98],
 [35.7788, -106.266, 180.24, 0.05, 0.17, 98.71, 0.38, 2.4, 7.48, 0.91],
 [32.9096, -105.471, 198.6, 0.03, 0.14, 111.58, 0.03, 1.8, 4.28, 0.4],
 [39.0054, -114.217, 183.58, 0.05, 0.2, 107.29, 0.17, 0.68, 3.95, 0.83],
 [42.2276, -77.8016, 213.62, 0.23, 0.9, 105.86, 0.83, 1.35, 1.51, 0.48],
 [40.868, -73.8782, 230.31, 0.4, 2.08, 107.29, 0.71, 2.91, 3.3, 0.74],
 [42.7339, -76.6597, 260.35, 0.54, 3.3, 103, 1.61, 5.18, 5.68, 1.35],
 [42.2994, -79.3964, 230.31, 0.62, 2.14, 104.43, 0.97, 2.11, 2.41, 0.64],
 [43.9731, -74.2231, 210.29, 0.04, 0.31, 98.71, 0.02, 0.5, 0.51, 0.08],
 [44.9226, -74.4806, 236.99, 0.27, 1.84, 97.28, 0.84, 0.75, 0.98, 0.67],
 [43.4336, -74.5002, 206.95, 0.03, 0.19, 101.57, 0.03, 0.5, 0.51, 0.09],
 [43.1463, -77.5482, 260.35, 1.08, 5.57, 101.57, 3.25, 4.58, 5.46, 0.63],
 [42.4014, -76.6589, 247, 0.33, 1.65, 104.43, 1.58, 5.47, 5.96, 1.36],
 [41.9936, -74.5031, 223.64, 0.08, 0.53, 97.28, 0.57, 4.27, 4.43, 0.63],
 [42.9931, -78.7717, 270.37, 1.69, 6.34, 100.14, 2.83, 3.37, 4.27, 1.88],
 [44.434, -74.246, 216.96, 0.08, 0.55, 92.98, 0.1, 0.5, 0.56, 0.13],
 [41.0347, -72.3891, 360.49, 2.57, 14.91, 89.41, 0.78, 12.66, 14.96, 0.37],
 [44.3933, -73.8594, 213.62, 0.05, 0.36, 100.14, 0.04, 0.5, 0.52, 0.07],
 [41.3511, -74.0484, 230.31, 0.16, 0.78, 101.57, 0.38, 3.94, 4.16, 0.67],
 [40.3555, -83.0661, 257.02, 0.48, 1.97, 98.71, 0.54, 12.4, 13.87, 3.83],
 [39.7928, -81.5311, 230.31, 0.11, 0.7, 98.71, 1.13, 9.32, 10.77, 1.62],
 [40.7813, -81.9197, 280.38, 0.8, 4.58, 101.57, 3.22, 14.32, 15.98, 3.1],
 [36.7863, -98.18, 210.29, 0.14, 0.78, 78.68, 0.19, 6.03, 12.53, 2.38],
 [44.2118, -122.256, 216.96, 0.02, 0.84, 88.69, 0.3, 1.12, 3.64, 0.07],
 [45.2247, -118.513, 210.29, 0.08, 0.62, 97.28, 0.12, 0.67, 1.79, 0.76],
 [44.6347, -123.19, 233.65, 0.13, 2.31, 70.1, 0.17, 1.13, 3, 0.6],
 [39.9231, -77.3078, 223.64, 0.09, 0.98, 108.72, 1.22, 4.47, 4.86, 1.38],
 [40.457, -78.56, 250.34, 2.04, 7.45, 87.26, 10.01, 7.44, 8.11, 0.69],
 [40.7883, -77.9458, 230.31, 0.13, 0.76, 104.43, 0.89, 4.94, 5.32, 0.87],
 [40.6575, -77.9397, 230.31, 0.13, 0.76, 104.43, 0.89, 4.94, 5.32, 0.87],
 [32.943, -79.6592, 243.66, 0.24, 1.65, 111.58, 6.08, 8.69, 10.58, 1.47],
 [36.4698, -83.8272, 211.95, 0.05, 0.48, 85.12, 0.35, 5.01, 8.85, 0.94],
 [35.6645, -83.5903, 216.96, 0.05, 0.29, 94.41, 0.69, 5.53, 9.9, 1.22],
 [35.4988, -89.2611, 236.99, 0.28, 2.44, 87.26, 1.79, 8.57, 16.06, 0.7],
 [30.2613, -100.5551, 206.95, 0.03, 0.19, 70.81, 0.17, 3.34, 6.5, 0.73],
 [31.9069, -104.805, 220.3, 0.13, 0.77, 100.14, 1.13, 5.46, 20.61, 2.25],
 [34.88, -101.665, 213.62, 0.4, 1.84, 69.38, 0.86, 3.47, 9.28, 5.51],
 [33.3917, -97.6397, 203.61, 0.25, 1.86, 75.1, 0.14, 5.57, 13.97, 1.09],
 [41.6661, -111.8914, 208.62, 0.13, 1.71, 108.72, 0.25, 0.63, 1.13, 0.84],
 [39.0001, -110.174, 186.92, 0.15, 0.59, 105.86, 0.03, 1.97, 10.68, 2.12],
 [37.6186, -112.1728, 178.58, 0.07, 0.38, 104.43, 0.02, 0.5, 0.67, 0.31],
 [38.0402, -78.5427, 216.96, 0.06, 0.56, 101.57, 1.04, 4.74, 6.29, 2.15],
 [37.3232, -80.4572, 208.62, 0.09, 0.5, 88.69, 0.57, 2.77, 4.42, 0.94],
 [37.1652, -78.3073, 216.96, 0.08, 0.51, 92.98, 0.65, 4.8, 6.77, 1.11],
 [38.5231, -78.4348, 223.64, 0.07, 0.63, 107.29, 1.09, 5.77, 7.28, 3.33],
 [37.6265, -79.5126, 211.95, 0.13, 1.06, 97.28, 1.33, 4.5, 6.18, 1.03],
 [42.8761, -73.1633, 233.65, 0.11, 0.63, 97.28, 0.13, 1.94, 2.01, 0.28],
 [44.5283, -72.8684, 240.33, 0.34, 2.08, 94.41, 0.19, 1.13, 1.21, 0.31],
 [46.7606, -117.1847, 213.62, 0.26, 1.1, 97.28, 0.34, 1.03, 2.7, 0.93],
 [45.5694, -122.21, 250.34, 0.3, 7.63, 90.12, 1.21, 1.23, 2.4, 0.43],
 [43.041, -89.428, 226.97, 0.55, 1.8, 90.84, 1.83, 2.06, 2.74, 1.77],
 [45.5648, -88.8083, 213.62, 0.09, 0.34, 84.4, 0.11, 0.5, 0.52, 0.07],
 [43.4352, -89.6801, 223.64, 0.42, 1.54, 94.41, 0.82, 1.21, 1.91, 1.06],
 [45.2064, -90.5978, 210.29, 0.07, 0.31, 100.14, 0.03, 0.5, 0.56, 0.12],
 [46.0512, -89.6541, 211.95, 0.09, 0.32, 87.98, 0.2, 0.5, 0.52, 0.05],
 [45.8228, -91.8744, 216.96, 0.13, 0.62, 97.28, 0.33, 0.5, 1, 0.14],
 [37.9796, -80.9525, 208.62, 0.04, 0.44, 90.12, 0.83, 5.29, 7.32, 0.93],
 [39.0897, -79.6622, 211.95, 0.1, 0.73, 87.98, 2.21, 6.88, 8.25, 0.92],
 [41.3762, -106.26, 175.24, 0.17, 0.43, 92.98, 1.04, 4.24, 17.49, 0.71],
 [42.7336, -108.8498, 175.24, 0.14, 0.42, 97.28, 0.14, 3.13, 8.6, 3.67],
 [42.929, -109.7875, 178.58, 0.09, 0.34, 92.98, 0.25, 2.45, 6.67, 1.3],
 [43.8333, -110.7008, 171.9, 0.07, 0.31, 71.53, 0.03, 0.53, 0.8, 0.11],
 [41.3647, -106.2408, 175.24, 0.17, 0.43, 92.98, 1.04, 4.24, 17.49, 0.71],
 [42.4944, -108.832, 175.24, 0.08, 0.21, 81.54, 0.08, 3.48, 9.35, 1.62]]

In [32]:
# create a dataframe from the list of weather data
columns = ["Latitude", "Longitude", "CO", "NO", "NO2", "O3", "SO2", "PM2.5", "PM10", "NH3"]
rain_air_pollution_df = pd.DataFrame(acid_rain_air_pollution, columns=columns)   
rain_air_pollution_df.head()

   Latitude  Longitude      CO    NO   NO2     O3   SO2  PM2.5   PM10   NH3
0   65.1550  -147.4910  243.66  0.39  2.53  68.67  0.92   0.50   0.52  0.09
1   58.5139  -134.7843  247.00  0.29  1.02  67.95  0.25   0.50   0.52  1.43
2   68.6257  -149.6069  233.65  0.01  0.08  87.26  0.01   0.50   0.50  0.01
3   58.6794  -156.6664  243.66  0.02  0.47  65.09  0.16   0.50   0.61  0.14
4   32.4583   -87.2422  210.29  0.07  0.40  87.98  1.01   5.24  10.91  0.47

In [33]:
rain_air_pollution_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162 entries, 0 to 161
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Latitude   162 non-null    float64
 1   Longitude  162 non-null    float64
 2   CO         162 non-null    float64
 3   NO         162 non-null    float64
 4   NO2        162 non-null    float64
 5   O3         162 non-null    float64
 6   SO2        162 non-null    float64
 7   PM2.5      162 non-null    float64
 8   PM10       162 non-null    float64
 9   NH3        162 non-null    float64
dtypes: float64(10)
memory usage: 12.8 KB

In [34]:
# merge the acid rain data with the air pollution data
acid_rain_ap_df = pd.concat([ntn_data, rain_air_pollution_df], axis=1)
acid_rain_ap_df.head()

,network,siteID,siteName,status,startDate_x,stopDate,county,state,Latitude,Longitude,...,Latitude,Longitude,CO,NO,NO2,O3,SO2,PM2.5,PM10,NH3
0,NTN,AK01,Poker Creek,A,12/29/92,NaN,Fairbanks North Star,AK,65.1550,-147.4910,...,65.1550,-147.4910,243.66,0.39,2.53,68.67,0.92,0.50,0.52,0.09
1,NTN,AK02,Juneau,A,6/22/04,NaN,Juneau,AK,58.5139,-134.7843,...,58.5139,-134.7843,247.00,0.29,1.02,67.95,0.25,0.50,0.52,1.43
2,NTN,AK96,Toolik Field Station,A,10/12/17,NaN,North Slope Borough,AK,68.6257,-149.6069,...,68.6257,-149.6069,233.65,0.01,0.08,87.26,0.01,0.50,0.50,0.01
3,NTN,AK97,Katmai National Park - King Salmon,A,11/2/09,NaN,Bristol Bay,AK,58.6794,-156.6664,...,58.6794,-156.6664,243.66,0.02,0.47,65.09,0.16,0.50,0.61,0.14
4,NTN,AL10,Black Belt Research & Extension Center,A,8/31/83,NaN,Dallas,AL,32.4583,-87.2422,...,32.4583,-87.2422,210.29,0.07,0.40,87.98,1.01,5.24,10.91,0.47